@import "tailwindcss";

@theme {
  --color-primary: #aa3bff;
}

@layer base {
  body {
    @apply bg-gray-50 text-gray-900   antialiased;
  }
}

/* Hide spin buttons in WebKit (Chrome, Safari, Edge) */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide spin buttons in Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* Global Button Click Tactile Feedback Effect */
button, 
[role="button"],
.btn {
  transition: transform 0.1s ease, opacity 0.1s ease !important;
}

button:active,
[role="button"]:active,
.btn:active {
  transform: scale(0.95) !important;
  opacity: 0.9 !important;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

